.content {
    width:100%;
    height:100%;

    background-color: #B1B8BD;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: linear-gradient(to top, rgba(1, 1, 1, 0.8) 40%, rgba(0,0,0,0) 80%),
                      url('https://d33wubrfki0l68.cloudfront.net/6c9248182edf7c0304c7fe80204040df6b040c61/97da0/static/images/wallpapers/shared-colors.png');

    position:absolute;
}

.header {
    text-align: center;
    color:white;
    background: rgba(1, 1, 1, 0.6);
    padding:14px;
}

.header h1 {
    margin: 0;
}

.settings {
    padding:7px;
    margin: auto;
    color:white;
    background: rgba(0,0,0,0.4);
    margin: 30px;
}

.settings input {
    border: none;
    background: rgba(255,255,255,0.3);
    color:white;
    padding:5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width:100%;
    margin-bottom:10px;
}

.settings h2 {
    margin: 0;
    margin-bottom:8px;
}

.settings button {
    width:100%;
    margin:auto;
    background: #0388fc;
    color:White;
    border: none;
    font-weight:1rem;
    padding:10px;
}

body {
    margin: 0;
    width:400px;
    height:300px;
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

/* Hide Number Input Arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}